{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Nb article</th>
                <th class="text-end">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.articles|length }}</td>
                <td class="text-end">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{{ path('category_show', {'id': category.id}) }}" class="btn btn-primary">Show</a>
                        <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-success">Edit</a>
                        <a href="{{ path('category_delete', {'id': category.id}) }}" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('category_new') }}">Create new</a>
{% endblock %}
